@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cards-member-container .back {
  transform: rotateY(180deg);
}

.cards-member-container input {
  position: absolute;
  scale: 0;
}

.cards-member-container input:checked ~ .card .back {
  transform: rotateY(0);
}

.cards-member-container input:checked ~ .card .front {
  transform: rotateY(-180deg);
}

.loader-5 {
  animation: rotate 2s infinite;
  height: 50px;
  width: 50px;
}

.loader-5:before,
.loader-5:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader-5:before {
  animation: ball1 2s infinite;
  background-color: rgb(255 255 255 / 16%);
  box-shadow: 30px 0 0 #88FCAF;
  margin-bottom: 10px;
}
.loader-5:after {
  animation: ball2 2s infinite;
  background-color: #88FCAF;
  box-shadow: 30px 0 0 rgb(255 255 255 / 16%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #88FCAF;
  }
  50% {
    box-shadow: 0 0 0 #88FCAF;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #88FCAF;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 rgb(255 255 255 / 32%);
  }
  50% {
    box-shadow: 0 0 0 rgb(255 255 255 / 32%);
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 rgb(255 255 255 / 32%);
    margin-top: 0;
  }
}